*~
meeting
MeetingNotes.org
MeetingNotes.org~
README.org
.token
my_env/
/Thesis/ltximg/
/Thesis/*/ltximg/
/tutorial_material/PPNotes/ltximg/
/*/*/*/__pycache__/
/*/*/__pycache__/
/*/*/.backup/
/Rfiles/